<div class="row mt-4">
  <div class="col-6">
    <div *ngIf="toDoList.length != 0; else noToDo">
      <div *ngFor="let todo of toDoList; let i = index">
        <div *ngIf="todo.completed != true">
        <app-to-do
          class="card-text"
          [toDoCurrent]="todo"
          [toDoIndex]="i"
        ></app-to-do>
        </div>
      </div>
    </div>
    <ng-template #noToDo>
      <p class="moreSpace" [ngStyle]="{ 'font-style': 'italic' }">
        Nothing here..
      </p></ng-template
    >
  </div>

  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row mt-2 moreSpace">
  <button
    class="col-2 btn btn-primary"
    routerLink="{{ rLink }}"
    (click)="changeButton()">
    {{ btnName }}
  </button>

</div>

<div><div>

<p>Finished tasks:</p>

  <div *ngFor="let todo of toDoList; let i = index">
    <div *ngIf="todo.completed === true">
      <!-- <app-to-do
          class="card-text"
          [toDoCurrent]="todo"
          [toDoIndex]="i"
        ></app-to-do> -->
      <p [ngStyle]="{ 'font-style': 'italic' }">{{ todo.action }}</p>
    </div>

<!--
  <app-to-do
      class="card-text"
      [toDoCurrent]="todo"
      [toDoIndex]="i"
    ></app-to-do> -->
  </div>
</div>
<ng-template #noToDo>
  <p class="moreSpace" [ngStyle]="{ 'font-style': 'italic' }">
    You haven't done anything yet!
  </p></ng-template>


</div>

<!-- Finished tasks -->
