<div class="container"><div class="row align-items-start">
  <div class="col">
    <div *ngIf="toDoService.isDone().length != 0; else noToDo">
      <div *ngFor="let todo of toDoList; let i = index">
        <div *ngIf="todo.completed != true">
        <app-to-do
          class="card-text"
          [toDoCurrent]="todo"
          [toDoIndex]="i"
        ></app-to-do>
        </div>
      </div>
    </div>
    <ng-template #noToDo>
      <p class="moreSpace" [ngStyle]="{ 'font-style': 'italic' }">
        Nothing here..
      </p></ng-template
    >
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row mt-2 moreSpace">
  <button
    class="col-2 btn btn-primary"
    routerLink="{{ rLink }}"
    (click)="changeButton()">
    {{ btnName }}
  </button>
  <!-- <a [routerLink]="['/todos'{donelink:done}]">Show finished</a>

</div></div>

<router-outlet name="donelink"></router-outlet> -->

<!-- <div><div>

<router-outlet></router-outlet>

</div> -->

<!-- Finished tasks -->

<app-to-do-done></app-to-do-done>
